<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="/static/mystyle.css" rel="stylesheet" />
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const postId = urlParams.get("postId");

      $(document).ready(function () {
        get_detail();
        get_commentList();
      });

      function get_detail() {
        $.ajax({
          type: "GET",
          url: `/api/list/${postId}`,
          data: {},
          error: function (xhr, status, error) {
            if (status == 404) {
              alert("존재하지 않는 글입니다.");
            }
            window.location.href = "/";
          },
          success: function (response) {
            let Detail = response["detail"];
            $("#contentTd").text(Detail["content"]);
            $("#titleTd").text(Detail["title"]);
            $("#dateTd").text(Detail["date"]);
            $("#writerTd").text(Detail["writer"]);
          },
        });
      }
      function update() {
        location.href = `/update?postId=${postId}`;
      }
      function commentWrite() {
        let today = new Date();
        let todate = `${today.getFullYear()}-${
          today.getMonth() + 1
        }-${today.getDate()} ${today.getHours()}:${today.getMinutes()}`;
        let content = $("#commentContentInput").val();
        $.ajax({
          type: "POST",
          url: `/comment/write/${postId}`,
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          data: {
            postId: postId,
            date: todate,
            content: content,
          },
          error: function (error) {
            alert(error.responseJSON.errorMessage);
            window.location.href = "/logins";
          },
          success: function (response) {
            if (response["result"] == "success") {
              window.location.reload();
            }
          },
        });
      }

      function get_commentList() {
        $.ajax({
          type: "GET",
          url: `/comment/list?postId=${postId}`,
          data: {},
          success: function (response) {
            let comments = response["commentlist"];
            for (let item of comments) {
              make_commentOne(item);
            }
          },
        });
      }
      function make_commentOne(item) {
        const { writer, content, commentId } = item;

        let htmlTemp =
          `<tr><td>${writer}</td>
          <td>${content}</td>` +
          "<td  onclick=\"deleteComment('" +
          commentId +
          "' )\">X</td>" +
          `<td onclick="updateComment()">E</td>
          </tr>`;
        $("#commentList").append(htmlTemp);
      }

      function deleteComment(commentId) {
        $.ajax({
          type: "DELETE",
          url: `/comment/update/${commentId}/delete`,
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          data: {},
          success: function (response) {
            if (response["result"] == "success") {
              window.location.reload();
            }
          },
        });
      }
    </script>
    <title>스파르타 블로그 | 글 상세</title>

    <style>
      table.mb-5 {
        width: 45%;
        height: 60%;
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        margin: 40px auto 20px auto;
      }
      table.mb-5 th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 4px solid #e8344e;
        background: white;
      }
      table.mb-5 td {
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
      }

      li {
        cursor: pointer;
        color: white;
        margin-left: 10px;
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-sparta justify-content-end"
    >
      <a class="navbar-brand" href="/">
        <img
          src="/static/logo_big_tr.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        스파르타 블로그
      </a>
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse flex-grow-0 ml-auto"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item" id="link-cart" onclick="update()">글수정</li>
        </ul>
      </div>
    </nav>
    <div>
      <!-- 여기 넣기 -->
      <table class="mb-5">
        <tr>
          <th>제목</th>
        </tr>
        <tr>
          <td id="titleTd" colspan="3"></td>
        </tr>
        <tr>
          <th>작성자</th>
        </tr>
        <tr>
          <td id="writerTd"></td>
        </tr>
        <tr>
          <th>작성 날짜</th>
        </tr>
        <tr>
          <td id="dateTd"></td>
        </tr>
        <tr>
          <th>내용</th>
        </tr>
        <tr>
          <td id="contentTd" colspan="4" style="height: 100%"></td>
        </tr>
      </table>
      <div>
        <input type="text" id="commentContentInput" /><button
          onclick="commentWrite()"
        >
          댓글달기
        </button>
        <table id="commentList"></table>
      </div>
    </div>
  </body>
</html>
